<div class="row-fluid">
    <div class="http-error">
        <div class="http-error-message">
            <div class="error-caption">
                <p><%= error[:code] %></p>
            </div>
            <div class="error-message">
                <p><%= error[:message] %><p>
                <p class="return-home"><a href="/">Back to the home page</a></p>
            </div>
        </div>
    </div>
</div>
