<%content_for :breadcrumb do%>
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Help</li>
        </ul>
<%end%>

<div class="faq-content">
    <div class="row-fluid">
        <div class="span9">
            <div class="search-well">
                <form class="form-inline">
                    <input class="input-xlarge" placeholder="Search Help..." id="appendedInputButton" type="text">
                    <button class="btn" type="button"><i class="icon-search"></i> Go</button>
                </form>
            </div>

            <div class="block">
                <p class="block-heading">Popular Topics</p>
                <div class="block-body">
                    <ol>
                        <li><a href="/#">What if I have a question?</a></li>
                        <li><a href="/#">Where can I get support?</a></li>
                        <li><a href="/#">How long does it take to fix a problem?</a></li>
                        <li><a href="/#">Who can help me out?</a></li>
                        <li><a href="/#">Where are you located?</a></li>
                    </ol>
                </div>
            </div>

            <div class="block">
                <p class="block-heading">Premium Support Available</p>
                <div class="block-body">
                <div class="row-fluid">
                    <p>Cress green bean potato bunya nuts water chestnut chicory rock melon jícama lotus root wattle seed eggplant coriander winter purslane spring onion.</p>
                    <a href="/#" class="btn btn-primary">Start Now</a>
                    <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="block">
                <p class="block-heading">Popular Topics</p>
                <div class="block-body">
                <div class="row-fluid" style="text-align: center;">
                    <div class="pull-left span4 unstyled">
                        <p><a href="/#">Your Account</a></p>
                        <p><a href="/#">Past Orders</a></p>
                        <p><a href="/#">Your Profile</a></p>
                    </div>
                    <div class="pull-left span4 unstyled">
                        <p><a href="/#">Your Account</a></p>
                        <p><a href="/#">Past Orders</a></p>
                        <p><a href="/#">Your Profile</a></p>
                    </div>
                    <div>
                        <p><a href="/#">Your Account</a></p>
                        <p><a href="/#">Past Orders</a></p>
                        <p><a href="/#">Your Profile</a></p>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="block">
                <p class="block-heading">Some Helpful Information</p>
                <div class="block-body">
                    <h2>Aubergine Asparagus Maize</h2>
                    <p>Catsear corn gumbo leek chickpea summer purslane chicory. Taro azuki bean broccoli rabe soybean endive chicory. Pumpkin salsify horseradish avocado cabbage tomatillo ricebean caulie turnip greens eggplant.</p>

                    <p>Sweet pepper pea sprouts mung bean cabbage radicchio silver beet coriander lentil groundnut jícama wattle seed black-eyed pea chicory broccoli rabe bamboo shoot. Kombu garlic watercress garbanzo squash plantain amaranth wattle seed tomatillo tigernut. Wakame watercress swiss chard bamboo shoot garlic wakame azuki bean lentil lettuce chicory horseradish eggplant gumbo. Swiss chard turnip jícama courgette fennel salsify brussels sprout zucchini sea lettuce desert raisin fava bean artichoke kale bell pepper watercress wakame black-eyed pea garlic. Lentil spring onion caulie welsh onion sweet pepper quandong potato wakame carrot taro artichoke prairie turnip eggplant.</p>

                    <p>Scallion burdock silver beet water spinach turnip watercress aubergine. Komatsuna scallion bush tomato prairie turnip amaranth cress fennel parsnip plantain rutabaga lettuce chickweed radish. Yarrow bell pepper radish tomatillo avocado brussels sprout leek garlic salad pea sprouts sorrel courgette chickweed courgette carrot fennel cress lotus root.</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="toc">
                <h3>Table of Contents</h3>
                <ol>
                    <li><a href="/#">Orders</a></li>
                    <li><a href="/#">Billing</a></li>
                    <li><a href="/#">Shipping</a></li>
                    <li><a href="/#">Returns</a></li>
                    <li><a href="/#">Your Account</a></li>
                </ol>
            </div>
            <div class="toc">
                <h3>Contact Us</h3>
                <h4>By Phone</h4>
                <p>+1-123-333-4321</p>
                <h4>By Email</h4>
                <p><a href="/#">hello@yourcompany.com</a></p>
                <h4>Address</h4>
                <address>
2817 S 49th<br>
Apt 314<br>
San Jose, CA 95101
</address>
                <div>
                    <button class="btn"><i class="icon-facebook"></i></button>
                    <button class="btn"><i class="icon-twitter"></i></button>
                    <button class="btn"><i class="icon-linkedin"></i></button>
                </div>
            </div>
        </div>
</div>
</div>
