<div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Reset your password</p>
            <div class="block-body">
                <form>
                    <label>Email Address</label>
                    <input type="text" class="span12"></input>
                    <a href="/" class="btn btn-primary pull-right">Send</a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <a href="/sign_in">Sign in to your account</a>
    </div>
</div>

